.showed {
  opacity: 1;
}

.unshowed {
  opacity: 0;
}

#page-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#page-menu {
  width: 100%;
  position: fixed;
  background-color: #ede7f6;

  z-index: 30;
  transition: all .3s ease;
}

#page-menu li {
  float: right;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.3rem;
  padding: 20px;
  transition: all .3s ease;
  color: #212121;
  font-weight: 100;
}

#page-menu li:hover {
  cursor: pointer;
  background-color: rgba(220, 220, 220, .4);
  padding-top: 30px;
}

#page-menu::after {
  display: table;
  content: "";
  clear: both;
}

@media (min-width: 660px) {
  #page-menu li {
    font-size: 1.3rem;
  }
}

@media (min-width: 1100px) {
  #page-menu li {
    font-size: 1.6rem;
  }
}

@media (min-width: 1500px) {
  #page-menu li {
    font-size: 2rem;
  }
}
